<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/center.css">
        <link rel="stylesheet" type="text/css" href="css/navbar.css">
        <link rel="stylesheet" type="text/css" href="css/leaderboard.css">
        <style>
            .flex {
                display: flex;
                align-items: flex-start;
                justify-content: space-evenly;
                height: 100%;
            }

            .center {
                align-self: center;
            }
        </style>
    </head>
    <body>
        <%- include('./assets/navbar.ejs') %> 
        <div class = "flex">
            <%- include('./assets/leaderboard.ejs', { leaderboard: ["a", "b", "c"]}) %>
            <div class="center">
                <h1>Thanks for registering, <%- user.username %>!</h1>
                <h2>Competition begins shortly. Stay Tuned!</h2>
            </div>
            <%- include('./assets/leaderboard.ejs', { leaderboard: ["d", "e", "f"]}) %>
        </div>
    </body>
</html>