<html>
    <head>
        <meta name="google-signin-client_id" content="227209584109-f54odnr6tn70muiu4fdqqrfbsbanm6cf.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script>
            function onSignIn(user) {
                let profile = user.getBasicProfile();
                let id = user.getAuthResponse().id_token;
                let params = new URLSearchParams({
                    user: profile.getName(),
                    email: profile.getEmail(),
                    id
                });
                fetch('/auth/callback', {
                    method: "POST",
                    body: params,
                    headers:{
                        "Content-Type": "application/x-www-form-urlencoded",
                        "Content-Length": params.toString().length
                    }
                }).then(res => {
                        if(!res.ok) console.log(res.statusText);
                        else window.location.href = "/";
                }).catch(console.error)
            }
        </script>
    </head>
    <body>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </body>
</html>