<html>
    <head>
        <style>
            #input {
                width:50%;
                font-size: larger;
            }

            #submit {
                margin-top: 10px;
                padding: 5px 20px;
                border-radius: 10px;
                border: none;
                background-color: lightskyblue;
            }

            #submit:hover {
                cursor: pointer;
                background-color: lightgreen;
            }

            .main {
                text-align: center;
                font-family: sans-serif;
            }

            h1 {
                padding-top: 50px;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="css/navbar.css">
        <%- include('./assets/header.ejs') %> 
    </head>

    <body>
        <%- include('./assets/navbar.ejs') %>
        <div class = "main" style="top:25%">
            <h2>Response time!</h2>
            <h3>In 10 words, give your best answer to the following prompt:</h3>
            <h1><%- prompt %></h1>
            <input id="input"><br>
            <button id="submit">Submit</button>
            <span id = "subreq"></span>
        </div>

        <script>
            document.getElementById('submit').addEventListener('click', e => {
                document.getElementById('submit').setAttribute('disabled', '');
                let sub = document.getElementById('input').value;
                fetch('/api/respond', {
                    method: 'POST',
                    body: sub,
                    headers: {
                        "Content-Type": "text/plain",
                        "X-auth": '<%-user.id%>'
                    }
                }).then(() => {
                    document.getElementById('subreq').innerText = "Response submitted! Refresh the page if you'd like to resubmit your vote.";
                });
            });
        </script>
    </body>

</html>