<nav>
    <a class = "img-link" href="/"><img src="/twow.png"></a>
    <div class="btn-contain">
        <a class="btn-link" href="https://docs.google.com/document/d/1rAvZwNQwAtcqMzCOhDu0ltpNEdH0bxbKYQOWg1isjG0/edit">FAQ</a>
        <a class="btn-link" href="https://docs.google.com/document/d/1UIHDvwnSOc1qEXjRoIp_XXxBeC7CKKhH1Zxoh8OPsdQ/edit">TOS</a>
        <a class="btn-link" href="https://docs.google.com/spreadsheets/d/15jZg5pAxF20TbRT9y4gyL_W5rImd1-1STwdnQaHNPzw/edit">Results</a>
    </div>
</nav>