<nav>
    <a class = "img-link" href="/"><img src="twow.png"></a>
    <div class="btn-contain">
    <a class="btn-link" href="/pages/faq">FAQ</a>
    <a class="btn-link" href="/pages/tos">TOS</a>
    </div>
</nav>